<!DOCTYPE html>
<html>
    <head>
        <title>Skylark | {{.Title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    </head>
    <body class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="page-header">
                    <h1>{{.Title}}</h1>
                </div>
                <div class="panel panel-default">
                    <div class="list-group">
                        {{ range $key, $value := .Shows }}
                        <a href="/show/{{$value.PlayId}}" class="list-group-item">
                            <span class="badge">{{len $value.Episodes}}</span>
                            <h4 class="list-group-item-heading">{{$value.Title}}</h4>
                        </a>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>

