{{template "header" .}}
    <body class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="page-header">
                    <h1>{{prettifyServiceText .Title}}</h1>
                </div>
                <div>
                    <ul class="list">
                        {{ range $key, $value := .Shows }}
                        <li>
                            <a href="/show/{{$value.PlayId}}">
                                <div class="item item-thumbnail">
                                    <img src="/img/{{$value.PlayId}}-96.png" />
                                    <span class="badge item-badge">{{len $value.Episodes}}</span>
                                    <h4 class="media-heading item-media-heading">{{$value.Title}}</h4>
                                </div>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>

