{{template "header" .}}
    <body class="container">
        <div class="row">
            <div class="col-md-8 col-lg-offset-2">
                <div class="page-header">
                    <h1>{{.Title}}</h1>
                </div>
                <div>
                    <ul class="list">
                        {{ $id := .Show.PlayId }}
                        {{ range $key, $value := .Show.Episodes }}
                        <li>
                            <a href="/video/{{$id}}/{{$value.PlayId}}">
                                <div class="item item-thumbnail">
                                    <img src={{$value.Thumbnail}} />
                                    <h4 class="media-heading">{{$value.Title}}</h4>
                                    <p>S{{zeroPaddingString $value.Season}}E{{zeroPaddingString $value.EpisodeNumber}},
                                Broadcasted: {{timeString $value.Broadcasted}}</br>
                                {{$value.Description}}</p>
                            </div>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>

